@f: 1vmin;

body {
    font-size: 4*@f;
    font-family: 'Noto Serif', serif;
}

.title, .h2 {
    font-size: 8*@f;
}

.currentTurn, .noTurn, .label {
    font-size: 6*@f;
}

.text, .tile {
    font-size: 6*@f;
}

.count, .weight {
    font-size: 3*@f;
}

.wordsList, .message {
    font-size: 6*@f;
}


.content, .score {
}

.conditions {
}

.footer {
    font-size: 2*@f;
}
