@f: 1vmin;

body {
    font-size: 4*@f;
}

.title, .h2 {
    font-size: 6*@f;
}

.currentTurn, .noTurn, .label {
    font-size: 4*@f;
}

.text {
    font-size: 4*@f;
}

.tile {
    font-size: 4*@f;
}

.count, .weight {
    font-size: 2*@f;
}

.wordsList {
    font-size: 3*@f;
}

.message {
    font-size: 4*@f;
}

.content, .score {
    font-size: 4*@f;
}

.conditions {
}

.footer {
    font-size: 2*@f;
}