
body {
    font-size: 1.4em;
    font-family: 'Noto Serif', serif;
}

.h2, .currentTurn, .noTurn, .label {
    font-size: 1em;
}

.count, .weight {
    font-size: 0.6em;
}

.message {
    font-size: 0.8em;
}

.content, .score {
}

.conditions {
    font-size: 0.8em;
}

.footer {
    font-size: 0.8em;
}
