@media screen and (min-width: 300px) and (min-height: 300px) and (max-width: 600px) and (max-height: 600px) {
    html, body {
    }


    .title {


        .h2 {
        }
    }

    .game {
    }

    .gameTable {
        height: 30vmin;


        .actions {
            height: 8vmin;
        }

        .message {
            max-width: 80vw;
        }

        button {
            width: 42px;
            height: 32px;
        }
    }

    .footer {
        margin-bottom: 32vmin;
    }

    .cabinet {


        .trayLabels {
        }

        .remaining {
        }

        .hide {
        }
    }

    .tray {


        .label {
        }

        .tile {
            width: 6vmin;
            height: 6vmin;
        }

        .tile span {
        }
    }

    .board {


        .table {
        }

        .cell {
        }

        .square {
            width: 6vmin;
            height: 6vmin;
        }

        .square span {
        }

        .text {
            left: 3vmin;
            top: 3vmin;
        }

        .weight {
            margin: 1vmin;
        }
    }

    .players {


        .currentTurn {
        }

        .noTurn {
        }

        .player {
            width: 38vmin;

            .score {
            }
        }

        .wordsList {
        }

        .conditions {
        }

        .hide {
        }
    }

    .infoBar {


        .h2 {
        }
    }

    .list {


        li {
            border: 1px solid #EEEEEE;
            margin: 3px;
            padding: 3px;
        }

        table {
            margin-left: 2%;
        }
    }

    .hide {
    }

    .h2 {
    }
}
