@media screen and (min-width: 300px) and (min-height: 300px) and (max-width: 600px) and (max-height: 600px) {

    .gameTable {

        .actions {
        }

        .message {
            margin-left: 2vw;
        }

        button {
            margin: 1vw;
        }
    }

    .cabinet {
        margin: 4vmin;

        .trayLabels {
        }

        .remaining {
        }
    }

    .game {
    }

    .tray {
        margin-left: 4vmin;


        .tile {
            margin: 1vmin;
            padding: 0;
        }

        .content {
            margin: 4vmin;
        }

        .count {
            margin:1vmin;
        }
    }

    .board {
        margin: calc(2vmin - 1px);

        .table {
        }

        .cell {
        }

        .weight, .weightEmpty {
        }
    }

    .players {
        margin: 4vmin;

        .player {
            margin: 2vmin;

            .wordsList {
                margin: 1vmin;
            }
        }
    }

    .infoBar {
        margin: 6vmin;

        .ul {
        }
    }

    .footer {
    }
}
