.h2, .brand {
    text-align: center;
}

.hide {
    display: none;
}

.gameTable {
    text-align: right;
}

.cabinet {
}

.list {
    table {
        text-align: center;
    }
}

.tray {
    .tile {
        text-align: center;
        vertical-align: bottom;
    }

    .count {
        text-align: left;
        vertical-align: top;
    }
}

.board {
    .weight {
        text-align: right;
        vertical-align: bottom;
        z-index: 1;
    }

    .text {
        z-index: 2;
    }

    .cell {
        white-space: pre-wrap;
    }

    .star {
        background-image: url(/images/star.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

.players {
    .player {
        text-align: center;

        .score {
            text-align: center;
        }

        .wordsList {
            text-align: left;
            list-style-type: decimal;
        }

        .human, .bot {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right center;

            path {
                color: white;
            }
        }

        .human {
            background-image: url(/images/human.svg);
        }

        .bot {
            background-image: url(/images/bot.svg);
        }


        .currentTurn {
        }

        .noTurn {
        }
    }
}

.infoBar {
    .h2 {
        color: black;
    }
}

.footer {
    text-align: right;
}

.draggable {
    cursor: move;
}

.gameTable, .actionBar {
    button {
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: #FFFFFF;
    }

    button:disabled,
    button[disabled] {
        background-color: #DDDDDD;
        cursor: auto;
    }

    .pass {
        background-image: url(/images/pass.svg);
    }

    .redraw {
        background-image: url(/images/pick.svg);
    }

    .suggest {
        background-image: url(/images/suggest.svg);
    }

    .help {
        background-image: url(/images/help.svg);
    }
}
