.count,
.weight,
.footer {
  font-size: 2vmin;
}
.wordsList {
  font-size: 3vmin;
}
.h2,
.currentTurn,
.noTurn,
.label,
.text,
.tile,
.message,
.content,
.scores {
  font-size: 4vmin;
}
.brand .h2 {
  font-size: 6vmin;
}
