@media screen and (min-width: 300px) and (min-height: 300px) and (max-width: 600px) and (max-height: 600px) {
  .gameTable {
    height: 34vmin;
  }
  .gameTable .actions {
    height: 8vmin;
  }
  .footer {
    margin-bottom: 44vmin;
  }
  .tray .tile {
    width: 8vmin;
    height: 8vmin;
  }
  .board .square {
    width: 8vmin;
    height: 8vmin;
  }
  .board .text {
    left: 4vmin;
    top: 4vmin;
  }
  .board .weight {
    margin: 2vmin;
  }
  .players .player {
    width: 40vmin;
  }
  .list li {
    margin: 3px;
    padding: 3px;
  }
  .gameTable button,
  .actionBar button {
    width: 8vmin;
    height: 8vmin;
  }
}
