.gameTable .actions {
  text-align: right;
}
.gameTable .message {
  margin-left: 4vw;
}
.gameTable button {
  margin: 1vw;
}
.actionBar {
  text-align: right;
  margin: 2vmin;
}
.actionBar button {
  margin: 2vmin;
}
.cabinet {
  margin: 3vmin;
}
.tray {
  margin-left: 8vmin;
}
.tray .tile {
  margin: 1vmin;
  padding: 0;
}
.tray .content {
  margin: 3vmin;
}
.tray .count {
  margin: 1vmin;
}
.board {
  margin: 6vmin;
}
.players {
  margin: 2vmin;
}
.players .player {
  margin: 2vmin;
}
.players .player .wordsList {
  margin: 1vmin;
}
.infoBar {
  margin: 4vmin;
}
.infoBar .ul {
  max-height: 30vmin;
  overflow: auto;
}
