.brand {
  background-color: navajowhite;
  opacity: 0.9;
  z-index: 100;
}
.cabinet {
  border: 1px solid #EEEEEE;
}
.cabinet .remaining {
  color: green;
}
.tray .label {
  color: blue;
}
.tray .count {
  color: black;
}
.tray .weight {
  color: darkslategray;
}
.tray .tile {
  color: red;
  background-color: lightgoldenrodyellow;
  border: 1px dotted green;
}
.tray .readonly {
  color: gray;
}
.board .table {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #BBBBBB;
}
.board .row {
  border: 1px solid #BBBBBB;
}
.board .cell {
  background-color: lightyellow;
  border: 1px solid #BBBBBB;
}
.board .filled {
  background-color: yellow;
  color: #990099;
}
.board .weight {
  color: white;
}
.board .w2 {
  background-color: lightyellow;
}
.board .w3 {
  background-color: burlywood;
}
.board .w4 {
  background-color: lightyellow;
}
.board .w5 {
  background-color: burlywood;
}
.board .w6 {
  background-color: lightyellow;
}
.board .w8 {
  background-color: darkred;
}
.board .confirmed {
  background-color: yellowgreen;
  color: #990099;
}
.players {
  color: blue;
}
.players .currentTurn,
.players .noTurn {
  color: white;
}
.players .currentTurn {
  background-color: #007f0b;
}
.players .noTurn {
  background-color: #b24b2c;
}
.players .player {
  border: 1px solid #EEEEEE;
}
.players .player .score {
  color: rebeccapurple;
}
.players .player .wordsList {
  border: 1px solid #EEEEEE;
}
.players .player .wordsList .cWord {
  color: green;
}
.players .player .wordsList .wWord {
  color: orangered;
  font-style: italic;
}
.players .conditions {
  color: orangered;
  font-style: italic;
}
.infoBar .ul {
  border: 1px solid #EEEEEE;
}
.gameTable {
  background-color: navajowhite;
  opacity: 0.9;
  z-index: 100;
}
.gameTable .message {
  color: rebeccapurple;
}
.list i {
  color: red;
}
.list b {
  color: green;
}
.footer {
  color: blue;
}
