.h2,
.brand {
  text-align: center;
}
.hide {
  display: none;
}
.gameTable {
  text-align: right;
}
.list table {
  text-align: center;
}
.tray .tile {
  text-align: center;
  vertical-align: bottom;
}
.tray .count {
  text-align: left;
  vertical-align: top;
}
.board .weight {
  text-align: right;
  vertical-align: bottom;
  z-index: 1;
}
.board .text {
  z-index: 2;
}
.board .cell {
  white-space: pre-wrap;
}
.players .player {
  text-align: center;
}
.players .player .score {
  text-align: center;
}
.players .player .wordsList {
  text-align: left;
  list-style-type: decimal;
}
.players .player .human,
.players .player .bot {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.players .player .human path,
.players .player .bot path {
  color: white;
}
.players .player .human {
  background-image: url(/images/human.svg);
}
.players .player .bot {
  background-image: url(/images/bot.svg);
}
.infoBar .h2 {
  color: black;
}
.footer {
  text-align: right;
}
.draggable {
  cursor: move;
}
.gameTable button,
.actionBar button {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.gameTable button:disabled,
.actionBar button:disabled,
.gameTable button[disabled],
.actionBar button[disabled] {
  background-color: #DDDDDD;
  cursor: auto;
}
.gameTable .pass,
.actionBar .pass {
  background-image: url(/images/pass.svg);
}
.gameTable .redraw,
.actionBar .redraw {
  background-image: url(/images/pick.svg);
}
.gameTable .suggest,
.actionBar .suggest {
  background-image: url(/images/suggest.svg);
}
