@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
body {
  font-family: 'Noto Serif', serif;
}
li {
  float: left;
  min-width: 60vmin;
}
li table {
  width: 95%;
  border-collapse: separate;
  border-spacing: 10px;
}
