@media screen and (min-width: 300px) and (min-height: 300px) {
  body {
    font-size: 5vmin;
  }
  .title,
  .h2 {
    font-size: 7.5vmin;
  }
  .currentTurn,
  .noTurn,
  .label {
    font-size: 5vmin;
  }
  .text {
    font-size: 5vmin;
  }
  .tile {
    font-size: 5vmin;
  }
  .count,
  .weight {
    font-size: 2.5vmin;
  }
  .wordsList {
    font-size: 3.75vmin;
  }
  .message {
    font-size: 5vmin;
  }
  .content,
  .score {
    font-size: 5vmin;
  }
  .footer {
    font-size: 2.5vmin;
  }
}
