html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    min-width: 60px;
    position: fixed;
    top: 0px;
    left: 0px;

    .h2 {
        display: inline;
    }
}

.game {
    width: 98%;
    margin-top: 60px;
}

.gameTable {
    clear: both;
    float: left;
    width: 100%;
    height: 156px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.footer {
    clear: both;
    margin-bottom: 156px;
}

.cabinet {
    clear: both;
    float: left;
    width: 98%;

    .trayLabels {
    }

    .remaining {
        float: right;
        display: none;
        min-width: 32px;
        min-height: 32px;
    }

    .hide {
        display: none;
    }
}

.tray {
    clear: both;
    float: left;
    display: block;
    width: 100%;

    .label {
        clear: both;
        display: block;
    }

    .tile {
        display: block;
        float: left;
        min-width: 24px;
        min-height: 24px;
    }

    .count {
        display: inline-block;
        float: left;
    }
}

.board {
    float: left;
    width: 98%;

    .table {
        width: 98%;
        height: 100%;
    }

    .cell {
        min-width: 24px;
        min-height: 24px;
    }

    .weight {
        display: inline-block;
        float: right;
        clear: both;
    }
}

.players {
    float: left;
    width: 98%;

    .currentTurn {
        width: 100%;
        display: block;
    }

    .noTurn {
        width: 100%;
        display: block;
    }

    .player {
        float: left;
        width: 42%;

        .score {
            display: block;
            width: 100%;
            height: 40px;
        }
    }

    .conditions {
        clear: both;
        display: block;
        width: 98%;
    }

    .hide {
        display: none;
    }
}


.infoBar {
    float: left;
    width: 98%;

    .h2 {
        clear: both;
    }
}

.hide {
    display: none;
}

.h2 {
    width: 98%;
}
